#!/usr/bin/env ruby

snippet ##
	##########${2:}
	## ${1:name} ##
	##########$2
	${3:}
snippet context
	context '${1:}' do
		${2:}
	end # context '$1'
snippet describe
	describe '${1:}' do
		${2:}
	end # describe '$1'
snippet define
	def ${1:}
		${2:}
	end # def $1
